@use "../../variables.scss" as vars;

.button {
  cursor: pointer;
  font-weight: 700;
  color: vars.$secondary-color;
  background-color: vars.$primary-color;
  border-radius: 4px;
  height: 3rem;
  width: 12rem;
  padding: 1rem;
  font-size: 16px;

  &.disabled {
    pointer-events: none;
    color: vars.$secondary-color;
    background-color: vars.$surface-color-2;
  }

  &.secondary {
    color: vars.$primary-color;
    background-color: vars.$secondary-color;
    border: 1px solid vars.$primary-color;
  }
}
